$background-color:#E0E4EC;
$primary-color:#171C26;
$fontColor-active:#F9F9FA;
$fontColor-inactive:#495061;

//todo above are colors now we use fonts
//*** here are some google fonts

$bold-fonts: 'Heebo', sans-serif;